{% extends "pageSquelette.twig" %}

{% block head %}
<title>Administration des Articles - Minipress</title>
{% endblock %}

{% block content %}
<h1>Gestion des Articles</h1>

{% if articles is empty %}
<p>Aucun article trouvé.</p>
{% else %}
<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Date de création</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td>{{ article.titre }}</td>
            <td>{{ article.date ? article.date|date("d/m/Y") : '' }}</td>
            <td>
                <form action="{{ url_for('toggle_publish', {id: article.id}) }}" method="POST">
                    <button type="submit">
                        {{ article.est_publie ? 'Dépublier' : 'Publier' }}
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}