{% extends "pageSquelette.twig" %}

{% block head %}
    <title>Accueil de Minipress</title>
{% endblock %}

{% block content %}
<h1>Présentation de Minipress</h1>

<p>
    Minipress est une application web qui permet de voir l'actualité rapidement.
</p>

{% endblock %}